In [1]:
import numpy as np 
import pandas as pd
import plotly.express as px
import datetime
from datetime import timedelta
import requests

In [2]:
today = pd.to_datetime('today').strftime("%m-%d-%Y")
daybefore = (datetime.date.today() - timedelta(days=1)).strftime("%m-%d-%Y")
print(today)
print(daybefore)

04-09-2020
04-08-2020

In [3]:
url_today='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/' + today + '.csv'
url_daybefore='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/' + daybefore + '.csv'
print(url_today)
print(url_daybefore)

https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-09-2020.csv
https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-08-2020.csv

In [4]:
request = requests.get(url_today)
if request.status_code == 200:
    url = url_today
else:
    url = url_daybefore
    
print(url)

https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-08-2020.csv

In [5]:
world = pd.read_csv(url)
world

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-08 22:51:58,34.223334,-82.461707,5,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-08 22:51:58,30.295065,-92.414197,86,2,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-08 22:51:58,37.767072,-75.632346,11,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-08 22:51:58,43.452658,-116.241552,438,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-08 22:51:58,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2878,NaN,NaN,NaN,Vietnam,2020-04-08 22:51:39,14.058324,108.277199,251,0,126,125,Vietnam
2879,NaN,NaN,NaN,West Bank and Gaza,2020-04-08 22:51:39,31.952200,35.233200,263,1,44,218,West Bank and Gaza
2880,NaN,NaN,NaN,Western Sahara,2020-04-08 22:51:39,24.215500,-12.885800,4,0,0,4,",,Western Sahara"
2881,NaN,NaN,NaN,Zambia,2020-04-08 22:51:39,-13.133897,27.849332,39,1,7,31,Zambia
2882,NaN,NaN,NaN,Zimbabwe,2020-04-08 22:51:39,-19.015438,29.154857,11,3,0,8,Zimbabwe

In [9]:
data = world.groupby('Country_Region')['Confirmed','Deaths','Recovered','Active'].sum().sort_values(by=['Confirmed'], ascending=False)
data

                       Confirmed  Deaths  Recovered  Active
Country_Region
US                        429052   14695      23559       0
Spain                     148220   14792      48021   85407
Italy                     139422   17669      26491   95262
France                    113959   10887      21452   81620
Germany                   113296    2349      46300   64647
...                          ...     ...        ...     ...
Sao Tome and Principe          4       0          0       4
Burundi                        3       0          0       3
Papua New Guinea               2       0          0       2
South Sudan                    2       0          0       2
Timor-Leste                    1       0          0       1

[184 rows x 4 columns]

In [10]:
fig = px.scatter(data,
                 x = "Deaths", y = "Recovered", text = data.index, color = 'Confirmed',
                 template = 'plotly_white', 
                 title="Заболеваемость, смертность и выздоравливаемость от COVID-19",
                 log_x=True,
                 log_y=True,
                 hover_name = data.index,
                 width=800, height=800
                )

fig.update_traces(textposition='top center', textfont_size=8)

fig.show()

TypeError: scatter() got an unexpected keyword argument 'xaxis_type'